<footer>
    <div class="container-xxl rodape">
        <div class="rodape-conteudos">
            <h3>Departamentos</h3>
            <a href="#">Hardware</a><br>
            <a href="#">Celular e Smartphone</a><br>
            <a href="#">Periféricos</a><br>
            <a href="#">Teclado e Mouse</a><br>
            <a href="#">Computadores</a><br>
            <a href="#">Placa de Vídeo</a><br>
            <a href="#">Monitores</a><br>
            <a href="#">Consoles e Games</a><br>
            <a href="#">Áudio</a><br>
            <a href="#">TV</a>
        </div>
        <div class="rodape-conteudos">
            <h3>Endereço</h3>
            <a href="#">Avenida das Comunicações, 04, Industrial Anhangüera, Osasco – SP – CEP 06276905</a>
            <h3>Contatos</h3>
            <p>(11) 4402-8922</p>
            <p>(11) 9999-9999</p>
            <h3>E-mail</h3>
            <a href="#">gamemania@gmail.com</a>
            <div>
                <a href="#"><img src="/assets/img/logo-facebook.png" alt="Logo Facebook"></a>
                <a href="#"><img src="/assets/img/logo-instagram.png" alt="Logo Instagram"></a>
            </div>  
        </div>
    </div>
    <div class="container-xxl rodape-logo">
        <a href="https://youtu.be/L_jWHffIx5E?t=37"><img src="/assets/img/Logo.png" alt="Logo da Game Mania"></a>
    </div>
</footer>