<app-header></app-header>
<main class="corpo">
    <section id="carrossel" class="banner banner0">
        <div class="botao-destaque">
            <a class="btn btn-primary" href="#" role="button">Aproveite</a>
        </div>
    </section>
   
    <section class="container-xxl">
        <div class="titulo-produto">
            <h2>promoções da semana</h2>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="container-xxl">
        <div class="titulo-produto">
                <h2>jogos</h2>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <br>
    <section class="container-xxl">
        <div class="titulo-produto">
                <h2>mais procurados</h2>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="produto">
                        <img src="/assets/img/produto.png" alt="Placa de Video">
                        <h3>Evga Rtx 3090 24GB </h3>
                        <p>R$1.999.99</p>
                        <div class="botao-produtos">
                            <a class="btn btn-primary" onclick="produtoIndisponivel()" role="button">Comprar</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>